<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{ theme:js file="jquery-1.7.2.min.js" }}
{{ theme:js file="modernizr-2.5.3-respond-1.1.0.min.js" }}
{{ theme:js file="bootstrap.min.js" }}
{{ theme:js file="less-1.3.0.min.js" }}
{{ theme:js file="plugins.js" }}
{{ theme:js file="script.js" }}
{{ theme:js file="transition.js" }}
{{ theme:js file="alert.js" }}
{{ theme:js file="modal.js" }}
{{ theme:js file="dropdown.js" }}
{{ theme:js file="scrollspy.js" }}
{{ theme:js file="tab.js" }}
{{ theme:js file="tooltip.js" }}
{{ theme:js file="popover.js" }}
{{ theme:js file="button.js" }}
{{ theme:js file="collapse.js" }}
{{ theme:js file="carousel.js" }}
{{ theme:js file="typeahead.js" }}
{{ theme:js file="application.js" }}