<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ settings:site_name }} | {{ template:title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;">
<meta name="description" content="I want to work at Luckie">
<meta name="keywords" content="luckie, résumé, responsive, fluid">
<meta name="robots" content="index,follow">
<meta name="author" content="Joshua Pekera">

<!-- Facebook -->
<meta property="fb:app_id" content="198854870230567"> <!-- put your fb app ID number here -->
<meta property="og:type"   content="joshuapekera:resume" />
<meta property="og:url" content="http://luckie.joshuapekera.com/"> <!-- put your shared domian here -->
<meta property="og:title" content="Dear Luckie, you should hire me."> <!-- put your share's title here -->
<meta property="og:description" content="I am a seasoned Creative, UX Designer, Marketer and Strategist with a work ethic that is border line obsessive. I want to work at Luckie and help contribute to your team's impressive creative energy."> <!-- put your share's description here -->

<!-- Guess we better help IE out -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
<!-- CSS Stylesheets -->
{{ theme:css file="bootstrap.css" }}
{{ theme:css file="responsive.css" }}
{{ theme:css file="mixins.css" }}
{{ theme:css file="utilities.css" }}
{{ theme:css file="variables.css" }}
{{ theme:css file="style.css" }}

{{ template:metadata }}